<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">日志</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!home">首页</a>
          <a><cite>日志</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            模块：
            <input id="log-module" class="layui-input search-input" type="text" placeholder="模块名称"/>&emsp;
            日期：
            <input id="log-date" class="layui-input search-input date-icon" type="text" placeholder="请选择日期范围"
                   style="width: 195px;"/>&emsp;
            <button id="log-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>

        <table class="layui-table" id="log-table" lay-filter="log-table"></table>
    </div>
</div>

<script type="text/javascript" src="js/system/log.js"></script>
