<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">权限管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!home">首页</a>
          <a><cite>权限管理</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            搜索：
            <input id="privilege-search" class="layui-input search-input" type="text" placeholder="输入关键字"/>&emsp;
            日期：
            <input id="privilege-date" class="layui-input search-input date-icon" type="text" placeholder="请选择日期范围"
                   style="width: 195px;"/>&emsp;
            <button id="privilege-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
            <button id="privilege-btn-add" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
        </div>

        <!-- 数据表格 -->
        <table class="layui-table" id="auth-table" lay-filter="auth-table"></table>
    </div>
</div>

<!-- 表单弹窗 -->
<script type="text/html" id="privilege-model">
    <form id="privilege-form" lay-filter="privilege-form" class="layui-form model-form">
        <input name="id" type="hidden" />
        <div class="layui-form-item">
            <label class="layui-form-label">权限名称</label>
            <div class="layui-input-block">
                <input name="privilegeName" placeholder="请输入权限名称" type="text" class="layui-input" maxlength="50"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <select name="category">
                    <option value="0">--请选择--</option>
                    <option value="1">目录</option>
                    <option value="2">菜单</option>
                    <option value="3">按钮</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单url</label>
            <div class="layui-input-block">
                <input name="link" placeholder="请输入菜单url" type="text" class="layui-input"/>
            </div>
        </div>

        <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">是否为菜单</label>-->
        <!--<div class="layui-input-block">-->
        <!--<input type="radio" name="isMenu" value="0" title="是" checked/>-->
        <!--<input type="radio" name="isMenu" value="1" title="否"/>-->
        <!--</div>-->
        <!--</div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">排序号</label>
            <div class="layui-input-block">
                <input name="seq" placeholder="请输入排序号" type="number" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上级菜单</label>
            <div class="layui-input-block">
                <select name="parentId">
                    <option value="0">--请选择--</option>
                    <option value="1">系统管理</option>
                    <option value="2">公众号管理</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            <button class="layui-btn" lay-filter="privilege-form-submit" lay-submit>保存</button>
        </div>
    </form>
</script>

<!-- 表格状态列
<script type="text/html" id="auth-state">
    <input type="checkbox" lay-filter="auth-state" value="{{d.authority}}" lay-skin="switch" lay-text="ON|OFF"
           {{d.checked==1?'checked':''}}/>
</script>
-->
<!-- 表格操作列 -->
<script type="text/html" id="auth-opt">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/javascript" src="js/system/privilege.js"></script>
