<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">权限管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!home">首页</a>
          <a><cite>权限管理</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            搜索：
            <input id="privilege-search" class="layui-input search-input" type="text" placeholder="输入关键字"/>&emsp;
            日期：
            <input id="privilege-date" class="layui-input search-input date-icon" type="text" placeholder="请选择日期范围"
                   style="width: 195px;"/>&emsp;
            <button id="privilege-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
            <button id="privilege-btn-add" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
        </div>

        <!-- 数据表格 -->
        <table class="layui-table" id="auth-table" lay-filter="auth-table"></table>
    </div>
</div>

<!-- 表格状态列 -->
<script type="text/html" id="auth-state">
    <input type="checkbox" lay-filter="auth-state" value="{{d.authority}}" lay-skin="switch" lay-text="ON|OFF"
           {{d.checked==1?'checked':''}}/>
</script>

<script type="text/javascript" src="js/system/privilege.js"></script>
