<!-- user表单弹窗 -->
<form id="privilege-form" lay-filter="privilege-form" class="layui-form model-form">
    <input name="id" id="privilegeId" type="hidden" />
    <div class="layui-form-item">
        <label class="layui-form-label">权限名称</label>
        <div class="layui-input-block">
            <input name="privilegeName" placeholder="请输入权限名称" type="text" class="layui-input" maxlength="50"
                   lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
            <select name="category">
                <option value="0">--请选择--</option>
                <option value="1">目录</option>
                <option value="2">菜单</option>
                <option value="3">按钮</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单url</label>
        <div class="layui-input-block">
            <input name="link" placeholder="请输入菜单url" type="text" class="layui-input"/>
        </div>
    </div>

    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">是否为菜单</label>-->
        <!--<div class="layui-input-block">-->
            <!--<input type="radio" name="isMenu" value="0" title="是" checked/>-->
            <!--<input type="radio" name="isMenu" value="1" title="否"/>-->
        <!--</div>-->
    <!--</div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">排序号</label>
        <div class="layui-input-block">
            <input name="seq" placeholder="请输入排序号" type="number" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上级菜单</label>
        <div class="layui-input-block">
            <select name="parentId">
                <option value="0">--请选择--</option>
                <option value="1">系统管理</option>
                <option value="2">公众号管理</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="privilege-form-submit" lay-submit>保存</button>
    </div>
</form>

<script type="text/javascript" src="js/system/privilege_form.js"></script>
