
body {
  background-color: #f6f6f6;
}

.header {
  height: 90px;
  font-family: 'Microsoft YaHei';
}
.site-header {
  width: 500px;
  float: right;
  padding-top: 23px;
  margin-right: 100px;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #727f80;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #5a6268;
  font-weight: bold;
  text-decoration: none;
}

.me-footer {
  background-color: #727f80;
  text-align: center;
  color: #fff;
  height: 200px;
  padding-top: 80px;
}

.card-outer {
  width: 388px;
  float: left;
}
.card-inner {
  padding: 50px;
}
.card-inner h1 {
  text-align: center;
  margin: 10px auto;
}
.avatar {
  border-radius: 50%;
  margin-left: 50px;
}
.text-muted {
  color: #757575;
  text-align: center;
}
.card-inner ul li {
  float: left;
  margin: 10px;
}
.wrapper {
  padding-bottom: 200px;
  width: 100%;
  height: 100%;
  min-height: 700px;
}
