
body,html {
    background-color: #929495;
    height: 100%;
    color: #666;
    font-family: 'Montserrat', Arial, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.login-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    max-width: 880px;
}
.logo-container {
    width: 65px;
    margin: 0 auto;
}
.login-header h5 {
    padding: 15px 0;
    font-size: 1.57em;
    line-height: 1.4em;
    color: #FFFFFF;
    text-align: center;
}
.login-body {
    width: 338px;
    margin: 0 auto;
}
.login-body .input-addon {
    position: relative;
    margin-right: -32px;
}
.login-body .form-control {
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid #E3E3E3;
    color: #fff;
    padding: 16px 30px 16px 36px;
    width:248px;
}
.login-body .form-control:focus {
    background-color: transparent;
    box-shadow: none;
    color: #fff;
    border: solid 1px #fff;
}
.input-group-focus .input-addon {
    color: #fff;
}
.login-body .layui-link {
    color: #fff;
    margin-right: 10px;
}
.login-body .layui-btn {
    width:310px;
    background-color: #6572b8;
}
.login-other {
    color:#fff;
}
.login-other a {
    color:#fff;
}
.login-footer {
    margin-top: 50px;
}
.login-footer p {
    margin: 15px 0;
    color: #fff;
}
.login-footer a {
    color: #fff;
}
