body {
    background-color: #f4f6f9;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Montserrat', Arial, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.theme-purple .navbar, .theme-purple .page-loader-wrapper {
    background: #8c99e0;
}
.navbar {
    font-family: "Montserrat",sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    width: calc(100% - 250px);
    padding: 0;
    min-height: 53px;
    margin-bottom: 20px;
}

.sidebar {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: "Montserrat",sans-serif;
    background: #fff;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
    z-index: 11;
}

.chat-launcher {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 12;
    background: #212121;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0,0,0,0.16), 0 6px 12px rgba(0,0,0,0.32);
}

section.content {
    margin: 60px 0px 15px 250px;
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 9;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
